:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pointer {
  cursor: pointer;
}
/* vars */
:root,
body {
  background-image: linear-gradient(rgb(82, 7, 114), black);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  color: #d5d5d5;
}
.section {
  max-width: 1000px;
}
.title {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(132, 132, 132));
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.animation-h{
  overflow:hidden;
}
/* navbar and header start */
header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 999999;
}
.logo {
  width: 30px;
}
nav ul li {
  background-color: #50076f57;
  backdrop-filter: blur(1rem);
}
.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.265rem;
  font-weight: 700;
  transition: 0.4s;
}
.nav-menu a:hover,
.toggle:hover {
  background-image: linear-gradient(rgb(95, 95, 95), rgb(255, 255, 255));
  background-clip: text;
  color: transparent;
}
.toggle {
  display: none;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgba(0, 0, 0, 0.274);
}
.nav-link:focus,
.nav-link:hover {
  color: white;
}
/* navbar and header end */

/* home */
.home-img {
  margin: auto;
  margin-top: -100px;
  width: 250px;
}
.home-subhead {
  font-weight: 600;
  margin-top: -20px;
}
.home-content {
  margin-top: 100px;
}
.add-to-bag {
  color: white;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.375);
  transition: 0.3s;
}
.add-to-bag:hover {
  background-color: rgb(33, 33, 33);
}
.sponser {
  width: 125px;
}
/* specs start */

.specs-img {
  max-width: 300px;
}
/* specs end */

/* case start */
.case-img {
  max-width: 250px;
}
.case-btn {
  color: white;
  margin: 5px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.375);
  transition: 0.3s;
}
.case-btn:hover {
  background-color: rgb(33, 33, 33);
}
/* case end */
/* shop now start */
.shop-row {
  max-width: 1000px;
  margin: auto;
  background-color: rgba(9, 9, 9, 0.43);
}
.discount-img {
  padding: 50px;
  max-width: 400px;
}
.shop-btn {
  color: white;
  margin: 5px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.375);
  transition: 0.3s;
}
.shop-btn:hover {
  background-color: rgb(33, 33, 33);
}
/* shop now end */

/* product start */
.product-box {
  background-color: rgba(0, 0, 0, 0.589);
  width: 200px;
  height: 210px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.product-content {
  top: -30px;
  position: absolute;
  right: 0;
  left: 0;
  padding: 0 20px;
}
.product-img {
  max-width: 100px;
}
.product-content i {
  background-color: #222222a5;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.4s;
}
.product-content i:hover {
  background-color: #3e3e3ea5;
}
/* product end */
/* footer start */
footer {
  background-color: #0f0115;
  padding: 50px 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}
.subscribe {
  width: 300px;
}
.subscribe input {
  color: white;
  margin: 0 8px;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 10px;
}
.subscribe button {
  color: white;
  background-color: rgb(18, 18, 18);
}
.copyright {
  background-color: #09000d;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px;
}
/* footer end */

/* responsive design for smaller screens */

@media screen and (max-width: 575px) {
  /* navbar and header start */
  .nav-menu {
    background-color: hsl(0, 0%, 0%, 0.6);
    backdrop-filter: blur(1rem);
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(10vh, 10rem);
    transition: 0.4s;
    z-index: 99999;
  }
  .nav-menu[data-visible="false"] {
    transform: translateX(100%);
  }
  nav ul li {
    background-color: transparent;
    backdrop-filter: unset;
  }
  .toggle {
    display: block;
    z-index: 999999;
    background-color: transparent;
    border: none;
    background-image: linear-gradient(rgb(62, 62, 62), rgb(255, 255, 255));
    font-size: 1.5465rem;
    font-weight: 800;
    background-clip: text;
    color: transparent;
    position: fixed;
    top: 10px;
    right: 30px;
  }
  /* navbar and header end */

  /* home start */
  .home-img {
    position: absolute;
    top: -100px;
    width: 200px;
    right: 0;
  }
  .home-content-container {
    z-index: 11;
  }
  .overview-sec {
    margin-top: 100px;
  }
  /* home end */
}
