:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pointer {
  cursor: pointer;
}
/* vars */
:root,
body {
  background-image: linear-gradient(rgb(82, 7, 114), black);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  color: #d5d5d5;
}
/* navbarn and header start */
header {
position: fixed;
left: 0;
right: 0;
  padding:20px;
}
.logo {
  width: 30px;
}
nav{
  z-index: 999999;
}
.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 1.265rem;
  font-weight: 700;
  transition: 0.4s;
}
.nav-menu a:hover,
.toggle:hover {
  background-image: linear-gradient(rgb(95, 95, 95), rgb(255, 255, 255));
  background-clip: text;
  color: transparent;
}
.toggle {
  display: none;
}

/* navbarn and header end */

/* home */

.home-img {
  margin: auto;
  margin-top: -100px;
  width: 250px;
}
.home-head {
  font-size: 3rem;
  font-weight: 900;
  background: linear-gradient(rgb(231, 231, 231), rgb(85, 85, 85));
  font-weight: 700;
  background-clip: text;
  color: transparent;
  padding-left: 20px;
}

.home-subhead {
  font-weight: 600;
  margin-top: -20px;
}
.home-content {
  margin-top: 100px;
}
.add-to-bag {
  margin: 100px auto 0 auto;
  padding: 10px 30px;
  border: none;
  color: white;
  background: linear-gradient(rgb(144, 144, 144), rgb(5, 5, 5));
  border-radius: 10px;
  transition: 0.4s;
}
.add-to-bag:hover {
  background: linear-gradient(rgb(71, 71, 71), rgb(5, 5, 5));
}
.sponser {
  width: 125px;
}
/* specs start */
.specs-title{
  background-image: linear-gradient(rgb(58, 58, 58), rgb(229, 229, 229));
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.specs-img{
  max-width: 300px;
}
/* specs end */

/* case start */
.case-title{
  background-image: linear-gradient(rgb(58, 58, 58), rgb(229, 229, 229));
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.case-img{
  max-width: 250px;
}
.case-btn{
  color: white;
  margin: 5px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.375);
  transition: 0.3s;
}
.case-btn:hover{
  background-color: rgb(33, 33, 33);
}
/* case end */

/* responsive design for smaller screens */

@media screen and (max-width: 575px) {
  /* navbar and header start */
  .nav-menu {
    background-color: hsl(0, 0%, 0%, 0.6);
    backdrop-filter: blur(1rem);
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(10vh, 10rem);
    transition: 0.4s;
    z-index: 99999;
  }
  .nav-menu[data-visible="false"] {
    transform: translateX(100%);
  }
  .toggle {
    display: block;
    z-index: 9999;
    background-color: transparent;
    border: none;
    background-image: linear-gradient(rgb(62, 62, 62), rgb(255, 255, 255));
    font-size: 1.5465rem;
    font-weight: 800;
    background-clip: text;
    color: transparent;
    position: fixed;
    top: 10px;
    right: 30px;
  }
  /* navbar and header end */

  /* home start */
  .home-img {
    position: absolute;
    top: -100px;
    width: 200px;
    right: 0;

  }
 .home-content-container{
  z-index: 11;
 }
  .overview-sec {
    margin-top: 100px;
  }
  /* home end */
}
